{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ghost Ranger Editorial{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
</head>
    
<body>

    {% include 'main/navHeader' %}

    <main>
        {% block content %}

        <h1 style="text-align: center;">ABOUT</h1>

        {% endblock content %}
    </main>

</body>

</html>