{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Ghost Ranger Editorial{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
    </head>
    
    {% include 'main/navHeader' %}

    <body>

        <p style="margin-left: 5%; margin-right: 5%; margin-top: 2%;">The Ghost Ranger Editorial is a Pathfinder and Starfinder themed newspaper 
            dedicated to the Pathfinder Society group located around the Huntsville, AL area. The Ghost Ranger Editorial is 
            operated by Lacey A. Weeks, a member of the Pathfinder Society group. The name of the newspaper was inspired by one 
            of her Pathfinder characters, an Ancient Elf Rogue with Ranger dedication named Ghost (also nicknamed "the Ghost 
            Ranger").</p>

        <p style="margin-left: 5%; margin-right: 5%; text-align: center;"><img src="{% static 'main/images/PathfinderSocietyLogo.JPG' %}" alt="Pathfinder Society Logo"></p>

    </body>

</html>