{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Ghost Ranger Editorial{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
    </head>
        
    {% include 'main/navHeader' %}

    <body>

        <p style="text-align: center;"><img src="{% static 'main/images/PathfinderSocietyLogo.JPG' %}" alt="Pathfinder Society Logo"></p>

    </body>

</html>